.bouton {
    background-color: #178CA4;
    color: white;
    border: 1px solid white;
    padding: 5px 20px;
    border-radius: 15px;
    box-shadow: 0px 3px 0px #072A40;
    cursor: pointer;
}

.bouton:active {
    position: relative;
    top: 3px;
    box-shadow: 0px 0px 0px #072A40;
}

.bouton:hover {
    background-color: #00849f;
}

form#nouveauRapport label {
    color: white;
}

#table_demandePret {
    width: 95%;
    text-align: center;
    margin-top: 10px;
}

#table_demandePret th{
    width: calc(100% / 8);
}
